<template>
  <p>Web components will be rendered here ...</p>

  <angular-element></angular-element>
</template>


<script>

export default {
  name: 'App',
  components: {}
}
</script>

<style lang="scss">
</style>
